# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Python
# ----------------------
optimizer/venv/
__pycache__/
*.pyc

# ----------------------
# Node / React
# ----------------------
node_modules/
frontend/node_modules/

# ----------------------
# Logs
# ----------------------
*.log
logs/

# ----------------------
# Environment variables
# ----------------------
.env

# ----------------------
# Ruby
# ----------------------
.bundle/
vendor/bundle/
*.gem

# ----------------------
# Database dumps
# ----------------------
*.dump

# ----------------------
# IDE files
# ----------------------
.vscode/
.idea/

# ----------------------
# Temporary files
# ----------------------
tmp/
*.swp
